.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh 0;
    margin-top: 10%;
    padding-left: 5%;
}

.title {
    width: 45vw;
}

.description {
    font-size: 2vw;
}