@keyframes suGiù {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh 0;
}

.container_titoli {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titolo {
    font-size: 6vw;
}

.h2 {
    font-size: 1.5vw;
}

.descrizione {
    width: 45vw;
    text-align: center;
    font-size: 1vw;
    line-height: 4vh;
    font-weight: 400;
}

.statistiche_container {
    display: flex;
    gap: 1.5vw;
    text-align: center;
}

.numero  {
    font-size: 4vw;
    width: 18.5vw;
}

.descrizione_numero {
    width: 18.5vw;
    font-size: 1vw;
    padding-left: 2%;
    font-weight: 400;
}

.sezione {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.freccia {
    width: 3vw;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(170deg);
    cursor: pointer;
    animation: suGiù 1.75s infinite ease-in-out;
    border: none;
    background: none;
}

/*scegliere noi*/
.container_link {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.link {
    width: 15vw;
    height: 7.5vh;
    border: 1px solid #BFC7D2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    background-color: #10151D;
    transition: all 0.5s ease-in-out;
    font-size: 1vw;
}

.link:hover {
    box-shadow: 0 0 5px 0 #BFC7D2;
}

.scegliere_noi {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 7.5vh 0;
    margin: 17.5% 0 7.5% 0;
    text-align: center;
}

/* Footer */
.footer_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15vh;
    border-top: 1px solid white;
    background-color: #000000;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    background-color: #10151D;
}

.freccia_no_animazione {
    width: 3vw;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(170deg);
    transition: all 0.3s ease-in-out;
    margin-bottom: 2.5%;
    cursor: pointer;
}

.container_posizione {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.footer_h3 {
    font-size: 1vw;
}

.footer_immagine {
    width: 1vw;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(170deg);
}

.sezione_azienda {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-size: 0.8vw;
}

.sezione_servizi {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 0.7vw;
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 768px) {
    .main {
        gap: 7.5vh 0;
    }

    .titolo {
        font-size: 12vw; /* Riduci la dimensione del titolo */
    }

    .h2 {
        font-size: 5vw; /* Riduci la dimensione del sottotitolo */
    }

    .descrizione {
        font-size: 4.8vw; /* Riduci la descrizione per schermi più piccoli */
        width: 80vw; /* Fai la descrizione più larga */
    }

    .numero {
        font-size: 10vw; /* Riduci la dimensione dei numeri */
    }

    .descrizione_numero {
        width: 35vw;
        font-size: 4vw; /* Riduci la descrizione dei numeri */
    }

    .container_titoli {
        margin-top: 15%; /* Riduci il margine superiore */
    }

    .freccia {
        width: 8vw; /* Aumenta la dimensione della freccia per i dispositivi più piccoli */
    }

    .container_link {
        gap: 10vw;
    }

    .link {
        width: 25vw;
        height: 5vh;
        font-size: 4vw;
        border-radius: 6vw;
        margin-bottom: 10%;
    }

    .footer_container {
        display: none;
    }
}

/* Medium devices (tablets, less than 1025px) */
@media only screen and (min-width: 700px) and (max-width: 1024px) and (min-height: 700px) {
    .titolo {
        font-size: 9vw;
    }

    .h2 {
        font-size: 3vw;
    }

    .descrizione {
        font-size: 2.9vw;
        width: 70vw;
    }

    .statistiche_container {
        gap: 15vw;
    }

    .numero {
        font-size: 10vw;
    }

    .descrizione_numero {
        font-size: 2.5vw;
    }

    .container_titoli {
        margin-top: 10%;
    }

    .freccia {
        width: 7vw;
    }

    .container_link {
        gap: 2vw;
    }

    .link {
        width: 25vw;
        height: 8vh;
        font-size: 3vw;
    }

    .freccia_no_animazione {
        width: 8vw;
    }

    .footer {
        height: 15vh;
    }

    .footer_h3 {
        font-size: 3vw;
    }

    .footer_immagine {
        width: 2vw;
    }

    .footer li {
        font-size: 2vw;
    }

    .footer p {
        font-size: 2.5vw;
    }
}

@media (min-width: 3840px) and (min-resolution: 2dppx) {
    .titolo {
        font-size: 8vw;
    }

    .h2 {
        font-size: 2vw;
    }

    .descrizione {
        width: 70vw;
        font-size: 1.5vw;
        line-height: 5vh;
    }

    .statistiche_container {
        gap: 10vw;
    }

    .numero {
        font-size: 6vw;
    }

    .descrizione_numero {
        font-size: 1.25vw;
    }
    
    .freccia {
        width: 4vw;
    }

    .container_link {
        gap: 6vw;
    }

    .link {
        font-size: 1.5vw;
    }

    .freccia_no_animazione {
        width: 4vw;
    }

    .footer_h3 {
        font-size: 1.5vw;
    }

    .footer_immagine {
        width: 1.25vw;
    }

    .sezione_azienda {
        font-size: 1vw;
    }
    
    .sezione_servizi {
        font-size: 1vw;
    }
}