@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(150px); 
    }   
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appicc {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes borderRotate {
    0% {
      border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
    }
    25% {
      border-image-source: radial-gradient(circle, #2e4a6a, #4a6e8f, #8aacc9, #1e304e);
    }
    50% {
      border-image-source: radial-gradient(circle, #4a6e8f, #8aacc9, #1e304e, #2e4a6a);
    }
    75% {
      border-image-source: radial-gradient(circle, #8aacc9, #1e304e, #2e4a6a, #4a6e8f);
    }
    100% {
      border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
    }
}

.container_illuminato {
    width: 40vw;
    height: 20vh;
    background-color: #1e304e;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px #1a2a46, 0 0 0 5px #1a2a46;
    filter: blur(90px);
    position: absolute;
    z-index: -1;
    animation: appicc 1.5s;
    top: -150px;
}

.main {
    height: 86vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeInFromBottom 1.5s ;
}

.h1 {
    font-size: 6vw;
    margin: 5% 0 3% 0;
    letter-spacing: 0.5vw;
}

/*struttura del servizio*/
.container_servizi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.servizio {
    padding: 10% 5%;
    width: 10vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    gap: 2vh;
    border-image-slice: 1;
    animation: borderRotate 5s infinite linear;
    background-color: #10151D;
}

.servizio:hover {
    transform: scale(1.05);
    box-shadow: #1a2a46 0px 5px 15px;
}

.img {
    width: 5vw;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(170deg);
    margin-bottom: 10%;
}

.h2_servizio {
    width: 11vw;
    font-size: 1.2vw;
}

.p_servizio {
    width: 9vw;
    font-size: 0.9vw;
}
/* fine struttura del servizio */

.bottone {
    width: 8vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    border-radius: 0.5vw;
    border: 2px solid #BFC7D2;
    text-decoration: none;
    color: inherit;
    margin-top: 5%;
}

.bottone:hover {
    border: 2px solid #07398a;
    background-color: #1a2a46;
}