@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(150px); 
    }   
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes borderRotate {
    0% {
      border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
    }
    25% {
      border-image-source: radial-gradient(circle, #2e4a6a, #4a6e8f, #8aacc9, #1e304e);
    }
    50% {
      border-image-source: radial-gradient(circle, #4a6e8f, #8aacc9, #1e304e, #2e4a6a);
    }
    75% {
      border-image-source: radial-gradient(circle, #8aacc9, #1e304e, #2e4a6a, #4a6e8f);
    }
    100% {
      border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.main {
    height: 105vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeInFromBottom 1.5s;
    overflow-x: hidden;
    gap: 10vh 0;
}

.titolo {
    font-size: 6vw;
    margin: 3% 0 0 0;
    letter-spacing: 0.5vw;
}

/*struttura del servizio*/
.container_servizi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.servizio {
    padding: 5%;
    width: 15vw;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    gap: 2vh;
    border-image-slice: 1;
    animation: borderRotate 5s infinite linear;
    background-color: #10151D;
}

.servizio:hover {
    transform: scale(1.05);
    box-shadow: #1a2a46 0px 5px 15px;
}

.img {
    width: 5vw;
    height: 10vh;
    object-fit: contain;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(170deg);
    margin-bottom: 10%;
}

.sotto_titolo {
    font-size: 1.2vw;
}

.descrizione {
    font-size: 1vw;
}

.link {
    width: 8vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    border: 2px solid #BFC7D2;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    box-shadow: 0 0 5px 0 #BFC7D2;
}