@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(150px); 
    }   
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes borderRotate {
    0% {
      border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
    }
    25% {
      border-image-source: radial-gradient(circle, #2e4a6a, #4a6e8f, #8aacc9, #1e304e);
    }
    50% {
      border-image-source: radial-gradient(circle, #4a6e8f, #8aacc9, #1e304e, #2e4a6a);
    }
    75% {
      border-image-source: radial-gradient(circle, #8aacc9, #1e304e, #2e4a6a, #4a6e8f);
    }
    100% {
      border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.main {
    min-height: 105vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeInFromBottom 1.5s;
    overflow-x: hidden;
    gap: 10vh 0;
}

.titolo {
    font-size: 6vw;
    margin: 3% 0 0 0;
    letter-spacing: 0.5vw;
}

/*struttura del servizio*/
.container_servizi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.servizio {
    padding: 5%;
    width: 15vw;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    gap: 2vh;
    border-image-slice: 1;
    animation: borderRotate 5s infinite linear;
    background-color: #10151D;
}

.servizio:hover {
    transform: scale(1.05);
    box-shadow: #1a2a46 0px 5px 15px;
}

.img {
    width: 5vw;
    height: 10vh;
    object-fit: contain;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(170deg);
    margin-bottom: 10%;
}

.sotto_titolo {
    font-size: 1.2vw;
}

.descrizione {
    font-size: 1vw;
}

.link {
    width: 8vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    border: 2px solid #BFC7D2;
    transition: all 0.3s ease-in-out;
    border-image-slice: 1;
    animation: borderRotate 5s infinite linear;
}

@media only screen and (max-width: 768px) {
    .titolo {
        font-size: 8vw; /* Ridurre la dimensione del titolo per i dispositivi più piccoli */
        margin-top: 5%;
    }

    .container_servizi {
        flex-direction: column; /* Disporre i servizi verticalmente */
        gap: 5vh; /* Spaziatura verticale tra i servizi */
    }

    .servizio {
        width: 70vw; /* Rende ogni servizio più largo sui dispositivi più piccoli */
        min-height: 25vh; /* Ridurre l'altezza per fare più spazio */
        padding: 10%;
    }

    .img {
        width: 20vw; /* Aumenta la larghezza delle immagini per schermi più piccoli */
        height: 15vh; /* Ridurre l'altezza per adattarsi meglio */
    }

    .sotto_titolo {
        font-size: 4vw; /* Ridurre la dimensione del sottotitolo */
    }

    .descrizione {
        font-size: 4vw; /* Ridurre la dimensione del testo descrittivo */
    }

    .link {
        width: 30vw; /* Adattare la larghezza dei link per dispositivi piccoli */
        height: 5vh;
        font-size: 5vw; /* Ridurre la dimensione del testo nei link */
        margin-bottom: 15%;
    }

    
}

/* Medium devices (tablets, between 700px and 1024px) */
@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .titolo {
        font-size: 6vw;
    }

    .container_servizi {
        width: 100%;
        display: grid;
        grid-template-columns: 35% 35%;
        gap: 4vw;
    }

    .servizio:nth-child(3) {
        padding: 0;
        width: 100%;
        grid-area: 2 / 1 / 2 / 3;
    }

    .servizio {
        padding: 0;
        width: 100%;
        min-height: 30vh;
    }

    .img {
        width: 10vw; /* Regolare la larghezza dell'immagine per tablet */
        height: 12vh;
    }

    .sotto_titolo {
        font-size: 3vw;
    }

    .descrizione {
        font-size: 1.8vw;
    }

    .link {
        width: 20vw;
        height: 6vh;
        font-size: 2.5vw;
    }
}

/* Large devices (desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
    .titolo {
        font-size: 4vw;
    }

    .container_servizi {
        gap: 5vw; /* Maggiore distanza tra i servizi */
    }

    .servizio {
        width: 17.5vw;
        min-height: 30vh;
        padding: 5%;
    }

    .img {
        width: 5vw;
        height: 10vh;
    }

    .sotto_titolo {
        font-size: 1.2vw;
    }

    .descrizione {
        font-size: 1vw;
    }

    .link {
        width: 8vw;
        height: 5vh;
        font-size: 1.2vw;
    }
}